.header__logo {
    width: 35.72px;
    height: 45.86px;
    top: 2.13px;
    left: 2.14px;
    gap: 0px;
    border: 5px 0px 0px 0px;
    opacity: 0px;
}

.header__cart {
    width: 55px;
    height: 55px;
    padding: 0px 31.79px 0px 0px;
    gap: 0px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
    font: Inter;
    font-weight: 400;
    width: 100%;
}

.header__navigation {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header__menu {
    color: #35B8BE;
}
