.header__logo {
    width: 35.72px;
    height: 45.86px;
    gap: 0px;
    border: 5px 0px 0px 0px;
    opacity: 0px;
}

.header__cart {
    width: 55px;
    height: 55px;
    padding: 0px 31.79px 0px 0px;
    gap: 0px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
    font: Inter;
    font-weight: 400;
    width: 100%;
}

.header__navigation {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header__menu {
    color: #35B8BE;
}

.header__navigation__img-container {
    position: relative;
    display: inline-block;
  }

.overlay-circle {
    position: absolute;
    top: 10px; /* Distance from the top */
    right: 45px; /* Distance from the right */
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
